<!DOCTYPE html>
<html>
<head>
    <title>Lista de Proveedores</title>
</head>
<body>
    <h1>Lista de Proveedores</h1>
    <ul>
        {% for proveedor in proveedores %}
            <li>
                <strong>Código:</strong> {{ proveedor.codigo }}<br>
                <strong>Nombre:</strong> {{ proveedor.nombre }}<br>
                <strong>Dirección:</strong> {{ proveedor.direccion }}<br>
                <strong>Teléfono:</strong> {{ proveedor.telefono }}<br>
                <strong>Página Web:</strong> <a href="{{ proveedor.pagina_web }}">{{ proveedor.pagina_web }}</a><br>
            </li>
        {% empty %}
            <li>No hay proveedores registrados.</li>
        {% endfor %}
    </ul>
</body>
</html>
